#div-chua-anh {
  margin-top: 30px;
  width: 100%;
  height: 200px;
  background-image: url('./photo-1562185000-12e4f02e2020.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}